
.btn{width:50%;margin-top:-10px; }
.btn:active {
	background-color:#00E0ED;
}

#place{width:30%;height:120px;margin-top:20px;}
#error{color:red;font-size:16px;width:328px;height:40px;
		margin-top:-10px;border:0;}